{{ define "bilibili" }}
    <div class="bilibili-video">
        <iframe src="//player.bilibili.com/player.html?aid=710640980&bvid=BV1PQ4y1K7eH&cid=192702105&page=1" width="100%" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
    </div>
        <div class="bilibili-video">
            <iframe src="//player.bilibili.com/player.html?aid=86332889&bvid=BV167411W7vC&cid=147555936&page=1" width="100%" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
        </div>
{{ end }}