{{ define "card" }}
    {{ range . }}
        <div class="col-md-3">
            <div class="card">
                <a href="/haohuo/{{ .Id }}"><img src="{{ .ImageUrl }}" class="card-img-top" alt="{{ .Name }}"></a>
                <div class="card-body">
                    <a class="h-name" href="/haohuo/{{ .Id }}"><h5 class="card-title">{{ .Name }}</h5></a>
                    <p class="card-text description" title="{{ .Description }}">{{ .Description }}</p>
                </div>
                <div class="card-body">
                    <a href="/users/{{ .UserId }}" class="card-link user main-color">{{ .UserName }}</a>
                    <span class="created-at second-color">分享于 {{ .CreatedAt.Format "2006/01/02" }}</span>
                    <span class="stars main-color" onclick="onStarClick(this.id); return false" id="{{ .Id }}"><i class="fa fa-star"></i> {{ .Favorites }}</span>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}