<!doctype html>
<html lang="zh-CN">
<head>
    {{ template "head"}}
    <title>帮助 - 啥好货</title>
</head>
<body>
<div id="root">
    <div class="wrapper">
        {{ template "nav" }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slogan text-center">
                        <h1>帮助</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>联系我 <img src="/static/email.png" alt=""></p>
                </div>
            </div>
        </div>
        <footer class="text-center">啥好货 2020 build in bad time for love and hop. 广告 - 商务 - 帮助</footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
<script src="/static/nav.js"></script>
</body>
</html>