<!doctype html>
<html lang="zh-CN">
<head>
    {{ template "head"}}
    <title>啥好货 - 分享实用,好用,可长期使用的好物</title>
    <meta name=description content="啥好货 shahaohuo.com 由社区驱动的实用，好用，耐用的产品分享平台">
    <meta name="keywords" content="啥好货,shahaohuo,shahaohuo.com,好货推荐,机械键盘,好用的红轴键盘,程序员键盘推荐,蓝牙耳机,好用的蓝牙耳机,耐用的耳机,送男朋友实用礼物">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="root">
        <div class="wapper">
            {{ template "nav" }}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slogan text-center">
                            <h1>啥好货</h1>
                            <p>想跟大家分享自己喜欢的产品，分享快乐</p>
                            <p>共有 <i class="fa fa-user"></i> {{ .Statics.Counts.TotalUsers }} 个用户，分享了 <i class="fa fa-image"></i> {{ .Statics.Counts.TotalHaohuos }} 件好货</p>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="sub-title">最新好货</h3>
                        </div>
                    </div>
                <div class="hbox" id="news">
                    <div class="row">
                        {{ template "card" .NewHaohuos}}
                    </div>
                </div>
                {{ if .MostFavorite }}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title">今日最多收藏</h3>
                    </div>
                </div>
                <div class="hbox" id="most-favorite">
                    <div class="row">
                        {{ template "card" .MostFavorite }}
                    </div>
                </div>
                {{end}}
                {{if .Tags }}
                    <div class="box">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="sub-title">好货标签</h4>
                            </div>
                        </div>
                        {{ template "tag_map" .Tags }}
                    </div>
                {{end}}
                {{if .LatestUsers}}
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="sub-title">最新注册的用户</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                                <div class="col-md-12">
                                    {{ range .LatestUsers }}
                                        <a href="/users/{{ .Id }}" class="card-link user main-color">{{ .Name }}</a>
                                    {{end}}
                                </div>
                        </div>
                    </div>
                {{end}}
            </div>
            {{ template "footer" }}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/combine/npm/way-js@0.2.1,npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notifyjs-browser@0.4.2/dist/notify.min.js"></script>
    <script src="/static/nav.js"></script>
    {{template "analytics"}}
</body>
</html>