<!doctype html>
<html lang="zh-CN">
<head>
    {{ template "head"}}
    <title>设置 - 啥好货</title>
</head>
<body>
<div id="root">
    <div class="wrapper">
        {{ template "nav" }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slogan text-center">
                        <h1>社区规则</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>本站建立在中国香港，本质是希望让大家找到高品质的产品，请不要触犯中国相关互联网法律。</p>
                    <p>目前社区欢迎一切热爱分享的朋友，请不要发布广告。</p>
                    <p>对产品有信心的相关商家请严格准守质量规则。</p>
                    <ul>
                        <li>建议填写产品价格对产品选购有很大帮助</li>
                        <li>建议上传自己使用产品的照片</li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="text-center">啥好货 2020 build in bad time for love and hop. 广告 - 商务 - 帮助</footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
<script src="/static/nav.js"></script>
</body>
</html>