<!doctype html>
<html lang="zh-CN">
<head>
    {{ template "head"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <title>{{ .User.Name }} 分享的好货 - 啥好货</title>
</head>
<body>
<div class="root">
    <div class="wrapper">
        {{ template "nav" }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slogan text-center">
                        <h1>{{ .User.Name }} 分享的好货</h1>
                        <p>注册于 {{ .User.CreatedAt.Format "2006/01/02" }} 共分享了 {{ .Page.TotalElements }} 件好货</p>
                    </div>
                </div>
            </div>
            {{ if .Haohuos }}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title">第 {{ .Page.CurrentPage }} 页共 {{ .Page.TotalPages }} 页</h3>
                    </div>
                </div>
                <div class="hbox" id="most-favorite">
                    <div class="row">
                        {{ template "card" .Haohuos }}
                    </div>
                    {{ template "page" .Page }}
                </div>
            {{end}}
        </div>
        {{template "footer" }}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notifyjs-browser@0.4.2/dist/notify.min.js"></script>
<script src="/static/nav.js"></script>
{{template "analytics"}}
</body>
</html>