<!doctype html>
<html lang="zh-CN">
<head>
    {{ template "head"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <title>{{ .User.Name }} - 啥好货</title>
    <style>
        .comments {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .comments .list-group-item {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>
<body>
<div class="root">
    <div class="wrapper">
        {{ template "nav" }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slogan text-center">
                        <h1>{{ .User.Name }}</h1>
                        <p>注册于 {{ .User.CreatedAt.Format "2006/01/02" }}</p>
                    </div>
                </div>
            </div>
            {{ if .Haohuos }}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title">{{ .User.Name }}的分享</h3>
                    </div>
                </div>
                <div class="hbox" id="most-favorite">
                    <div class="row">
                        {{ template "card" .Haohuos }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/users/{{.User.Id}}/haohuos" class="btn btn-main btn-sm">查看 {{.User.Name}} 更多分享</a>
                        </div>
                    </div>
                </div>
            {{end}}
            {{ if .Comments }}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="sub-title pt-4">最近的评论</h3>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12">
                         <div class="comments">
                             <ul class="list-group list-group-flush">
                             {{ range .Comments}}
                                 <li class="list-group-item">
                                     <a class="main-color" href="/haohuo/{{.HaohuoId}}">{{.HaohuoName}}</a>
                                     <br>
                                     <span class="second-color font-mini">回复于 <time>{{.CreatedAt.Format "2006/01/02"}}</time></span>
                                     <br>
                                     <p class="full-description mb-1 mt-2">{{.Content}}</p>
                                 </li>
                             {{end}}
                             </ul>
                         </div>
                     </div>
                 </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/users/{{.User.Id}}/comments" class="btn btn-main btn-sm">查看 {{.User.Name}} 更多评论</a>
                    </div>
                </div>
            {{end}}
        </div>
        {{template "footer" }}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notifyjs-browser@0.4.2/dist/notify.min.js"></script>
<script src="/static/nav.js"></script>
{{template "analytics"}}
</body>
</html>