::selection {
    color: #fff;
    background: #cf7500;
}

:root {
    --main-color: #cf7500;
    --second-color: #969696;
}

#root {
    width: 100%;
}

.bg-main {
    color: white;
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.second-color {
    color: var(--second-color);
}

#nav .main-color {
    color: var(--main-color);
}

.btn-main {
    color: #fff;
    background-color: var(--main-color);
    border-color:var(--main-color);
}

.slogan {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.slogan h1 {
    padding-bottom: 1rem;
}
.slogan h1, .sub-title{
    color: var(--main-color);
}
.slogan p {
    color: var(--second-color);
}
label.error {
    font-size: 12px;
    color: red;
}
footer {
    color: #dbdbdb;
    font-size: 12px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.stars:hover {
    cursor: pointer;
}

.stars, .created-at {
    font-size: 14px;
}
.created-at {
    padding-left: 4px;
}

.h-price {
    color: var(--main-color);
}
.hbox {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hbox .card {
    margin: auto;
    margin-bottom: 1rem;
}
.description {
    min-height: 6rem;
    max-height: 6rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.full-description {
    font-size: 14px;
    white-space: pre-line;
}

.font-mini {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-medium{
    font-size: 16px;
}

.page-footer a {
    color: #ced4da;
}

.card.hao {
    margin-bottom: 1.5rem;
}

.card.hao a{
    text-decoration: none;
}

.card.hao .on-hover {
    display: none;
}

.card.hao:hover .on-hover {
    display: block;
}

.card.hao .on-hover .stars {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    padding: .2rem .5rem;
    text-decoration: none;
    background-color: #cf7501db;
    color: #ffffff;
}

a.user {
    color: var(--main-color);
}

a.user:hover, a.main-color:hover {
    color: var(--main-color);
}

.hao .images {
    min-width: 100.098888%;
    height: 178px;
    background-color: #dbdbdb;
}

.hao .images img {
    width:100%;
    height: 100%;
    object-fit:cover;
    opacity:.9;
}

.hao:hover .images img {
    opacity:1;
}

.hao .infos {
    padding-bottom: .5rem;
}

.hao .meta {
    color: #dbdbdb;
    font-size: 14px;
}

.hao .name {
    color: #000;
}

.hao .name:hover {
    color: var(--main-color);
}

.pages a {
    color: var(--main-color);
}

.pages a:hover {
    color: var(--main-color);
}

.pages .active .page-link {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.box {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.tags {
    padding-top: 1rem;
}

.badge-main {
    font-size: 14px;
    padding: .3rem .4rem;
    color: white;
    background-color: #cf7500;
    margin-bottom: .5rem;
}
.badge-main:hover {
    color: #fff;
    background-color: #f0a500;
}

.avatar {
    max-width: 48px;
    border-radius: 50%;
}

.no-bd {
    border: none;
}

.card.pd-04 .card-body {
    padding: .4rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hbox .card {
        margin-bottom: 2rem;
    }
    .description {
        min-height: auto;
    }
    .badge-main {
        margin-bottom: .6rem;
    }
}
